n8n/workflow_whatsapp_rag.json
{
  "name": "WhatsApp RAG (Twilio + Pinecone + Groq)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-whatsapp",
        "responseMode": "lastNode"
      },
      "id": "webhook_in",
      "name": "Webhook Twilio Incoming",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{\n  json: {\n    from: body.From,\n    question: body.Body,\n    twilioTo: body.To,\n    twilioFrom: body.From\n  }\n}];"
      },
      "id": "normalize_in",
      "name": "Normalize Incoming",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const from = $json.from;\nconst question = $json.question;\nconst data = getWorkflowStaticData('global');\nif (!data.memory) data.memory = {};\nif (!data.memory[from]) data.memory[from] = [];\n\nconst history = data.memory[from].slice(-4);\nreturn [{\n  json: {\n    ...$json,\n    history\n  }\n}];"
      },
      "id": "window_memory",
      "name": "Window Buffer Memory (2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api-inference.huggingface.co/pipeline/feature-extraction/{{$env.HF_EMBEDDING_MODEL}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": $json.question}",
        "options": {}
      },
      "id": "query_embedding",
      "name": "Get Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "HF Inference API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emb = $json;\nconst vector = Array.isArray(emb) ? emb : (Array.isArray(emb[0]) ? emb[0] : []);\nreturn [{\n  json: {\n    vector,\n    topK: 5,\n    includeMetadata: true,\n    namespace: $env.PINECONE_NAMESPACE || 'tandil-props'\n  }\n}];"
      },
      "id": "build_query",
      "name": "Build Pinecone Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://{{$env.PINECONE_INDEX_HOST}}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "pinecone_query",
      "name": "Pinecone Query TopK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Pinecone API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const matches = $json.matches ?? [];\nconst threshold = 0.75;\nconst filtered = matches.filter(m => (m.score ?? 0) >= threshold);\nconst context = filtered.length\n  ? filtered.map((m, i) => `${i + 1}) ${m.metadata?.content ?? ''}`).join('\\n')\n  : 'Sin resultados relevantes en la base.';\n\nconst question = $('Window Buffer Memory (2)').item.json.question;\nconst historyItems = $('Window Buffer Memory (2)').item.json.history ?? [];\nconst history = historyItems.length\n  ? historyItems.map((m) => `${m.role}: ${m.content}`).join('\\n')\n  : 'Sin historial previo.';\nconst sys = 'Sos un asesor inmobiliario experto en Tandil. Responde cordial y concreto. Si no hay datos suficientes, decilo y no inventes.';\n\nreturn [{\n  json: {\n    from: $('Window Buffer Memory (2)').item.json.from,\n    question,\n    promptSystem: sys,\n    promptUser: `Historial reciente:\\n${history}\\n\\nConsulta del cliente: ${question}\\n\\nContexto recuperado:\\n${context}`\n  }\n}];"
      },
      "id": "build_prompt",
      "name": "Build Context + Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": $env.GROQ_MODEL || \"llama-3.3-70b-versatile\", \"messages\": [{\"role\":\"system\",\"content\": $json.promptSystem},{\"role\":\"user\",\"content\": $json.promptUser}], \"temperature\":0.3}",
        "options": {}
      },
      "id": "groq_chat",
      "name": "Groq Chat Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json.choices?.[0]?.message?.content ?? 'No pude generar respuesta en este momento.';\nconst from = $('Window Buffer Memory (2)').item.json.from;\nconst question = $('Window Buffer Memory (2)').item.json.question;\nconst data = getWorkflowStaticData('global');\nif (!data.memory) data.memory = {};\nif (!data.memory[from]) data.memory[from] = [];\ndata.memory[from].push({ role: 'user', content: question });\ndata.memory[from].push({ role: 'assistant', content: message });\ndata.memory[from] = data.memory[from].slice(-4);\n\nreturn [{ json: { reply: message, to: from } }];"
      },
      "id": "prepare_twilio",
      "name": "Prepare Twilio Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "={{$env.TWILIO_WHATSAPP_FROM}}",
        "to": "={{$json.to}}",
        "message": "={{$json.reply}}"
      },
      "id": "twilio_send",
      "name": "Twilio Send Message",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2340,
        300
      ],
      "credentials": {
        "twilioApi": {
          "name": "Twilio Sandbox"
        }
      }
    }
  ],
  "connections": {
    "Webhook Twilio Incoming": {
      "main": [
        [
          {
            "node": "Normalize Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Incoming": {
      "main": [
        [
          {
            "node": "Window Buffer Memory (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory (2)": {
      "main": [
        [
          {
            "node": "Get Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Query Embedding": {
      "main": [
        [
          {
            "node": "Build Pinecone Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pinecone Query": {
      "main": [
        [
          {
            "node": "Pinecone Query TopK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Query TopK": {
      "main": [
        [
          {
            "node": "Build Context + Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context + Prompt": {
      "main": [
        [
          {
            "node": "Groq Chat Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Completion": {
      "main": [
        [
          {
            "node": "Prepare Twilio Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Twilio Reply": {
      "main": [
        [
          {
            "node": "Twilio Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
