n8n/workflow_whatsapp_mvp.json
{
  "name": "WhatsApp MVP (Twilio + CSV + Groq)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-mvp",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook_mvp",
      "name": "Webhook Twilio MVP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body ?? $json;\nconst data = getWorkflowStaticData('global');\ndata.last = {\n  from: b.From,\n  text: String(b.Body ?? '').trim()\n};\nreturn [{\n  json: {\n    ok: true,\n    from: data.last.from,\n    text: data.last.text\n  }\n}];"
      },
      "id": "save_last",
      "name": "Save Last Twilio Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "filePath": "D:\\\\Disco c original\\\\Proyectos\\\\script_scrapping\\\\propiedades_vivas.csv",
        "options": {}
      },
      "id": "read_csv",
      "name": "Read Properties CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = getWorkflowStaticData('global');\nconst q = (data.last?.text ?? '').toLowerCase();\nconst from = data.last?.from ?? '';\n\nfunction parseMoneyFromPrecio(precioStr) {\n  const s = String(precioStr ?? '').replace(/\\s/g, '');\n  const m = s.match(/(?:usd|u\\$s|\\$)\\s*([\\d\\.]+)/i);\n  if (!m) return null;\n  const n = parseFloat(m[1].replace(/\\./g, '').replace(',', '.'));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction parseAmbientes(ambStr) {\n  const m = String(ambStr ?? '').match(/(\\d+)/);\n  return m ? parseInt(m[1], 10) : null;\n}\n\nconst rows = items.map((i) => i.json);\nlet hits = [...rows];\n\nif (q.includes('tandil')) {\n  hits = hits.filter((r) =>\n    String(r.Barrio ?? '')\n      .toLowerCase()\n      .includes('tandil')\n  );\n}\nif (q.includes('rauch')) {\n  hits = hits.filter((r) =>\n    String(r.Barrio ?? '')\n      .toLowerCase()\n      .includes('rauch')\n  );\n}\n\nconst ambMatch = q.match(/(\\d+)\\s*amb/i);\nif (ambMatch) {\n  const n = parseInt(ambMatch[1], 10);\n  hits = hits.filter((r) => {\n    const a = parseAmbientes(r.Ambientes);\n    return a === null || a === n;\n  });\n}\n\nconst maxUsd = q.match(\n  /(?:hasta|maximo|menos\\s*de)\\s*(?:usd|u\\$s|\\$)?\\s*([\\d\\.]+)/i\n);\nif (maxUsd) {\n  const cap = parseFloat(maxUsd[1].replace(/\\./g, ''));\n  hits = hits.filter((r) => {\n    const p = parseMoneyFromPrecio(r.Precio);\n    return p === null || p <= cap;\n  });\n}\n\nhits = hits.slice(0, 3);\n\nconst catalog = hits\n  .map(\n    (r) =>\n      'ID ' +\n      r.ID +\n      ' | ' +\n      r.Direccion +\n      ' | ' +\n      r.Barrio +\n      ' | ' +\n      r.Precio +\n      ' | ' +\n      r.Ambientes +\n      ' | Caracteristicas: ' +\n      r.Caracteristicas +\n      ' | Fotos: ' +\n      r.Link_Fotos\n  )\n  .join(String.fromCharCode(10));\n\nconst sys =\n  'Sos un asesor inmobiliario experto en Tandil y zona. Respondé cordial y breve. Solo usá datos del catálogo. Si no hay suficientes datos, decilo y no inventes.';\n\nconst user =\n  'Consulta del cliente: ' +\n  (data.last?.text || '') +\n  String.fromCharCode(10, 10) +\n  'Catálogo (hasta 3 opciones):' +\n  String.fromCharCode(10) +\n  (catalog ||\n    '(sin coincidencias con el filtro simple; pedí más detalles o ofrecé ampliar criterios.)');\n\nreturn [{ json: { from, promptSystem: sys, promptUser: user } }];"
      },
      "id": "filter_prompt",
      "name": "Filter and Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": $env.GROQ_MODEL || \"llama-3.3-70b-versatile\", \"temperature\": 0.3, \"messages\": [{\"role\":\"system\",\"content\": $json.promptSystem},{\"role\":\"user\",\"content\": $json.promptUser}]}",
        "options": {}
      },
      "id": "groq_chat",
      "name": "Groq Chat Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message =\n  $json.choices?.[0]?.message?.content ??\n  'No pude generar respuesta en este momento.';\nconst from = $('Filter and Build Prompt').first().json.from;\nreturn [{ json: { reply: message, to: from } }];"
      },
      "id": "extract_reply",
      "name": "Extract Reply for Twilio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "={{$env.TWILIO_WHATSAPP_FROM}}",
        "to": "={{$json.to}}",
        "message": "={{$json.reply}}"
      },
      "id": "twilio_send",
      "name": "Twilio Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1520, 300],
      "credentials": {
        "twilioApi": {
          "name": "Twilio Sandbox"
        }
      }
    }
  ],
  "connections": {
    "Webhook Twilio MVP": {
      "main": [
        [
          {
            "node": "Save Last Twilio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Last Twilio Message": {
      "main": [
        [
          {
            "node": "Read Properties CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Properties CSV": {
      "main": [
        [
          {
            "node": "Filter and Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Build Prompt": {
      "main": [
        [
          {
            "node": "Groq Chat Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Completion": {
      "main": [
        [
          {
            "node": "Extract Reply for Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply for Twilio": {
      "main": [
        [
          {
            "node": "Twilio Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "mvp-1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
