n8n/workflow_ingesta_pinecone.json
{
  "name": "Ingesta CSV a Pinecone (Tandil)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "filePath": "D:\\\\Disco c original\\\\Proyectos\\\\script_scrapping\\\\propiedades_vivas.csv",
        "options": {}
      },
      "id": "read_csv",
      "name": "Read CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        440,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of items) {\n  const p = item.json;\n  const propertyId = String(p.ID ?? '').trim();\n  if (!propertyId) continue;\n\n  const content = `Propiedad ID: ${propertyId}. Ubicacion: ${p.Direccion ?? ''} en ${p.Barrio ?? ''}. Precio: ${p.Precio ?? ''}. Ambientes: ${p.Ambientes ?? ''}. Caracteristicas: ${p.Caracteristicas ?? ''}. Link_Fotos: ${p.Link_Fotos ?? ''}`;\n\n  out.push({\n    json: {\n      property_id: propertyId,\n      barrio: p.Barrio ?? '',\n      precio: p.Precio ?? '',\n      content\n    }\n  });\n}\nreturn out;"
      },
      "id": "normalize_doc",
      "name": "Normalize Property Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://api-inference.huggingface.co/pipeline/feature-extraction/{{$env.HF_EMBEDDING_MODEL}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": $json.content}",
        "options": {}
      },
      "id": "hf_embedding",
      "name": "Get HF Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "HF Inference API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const v = $json;\nconst values = Array.isArray(v) ? v : (Array.isArray(v[0]) ? v[0] : []);\nif (!Array.isArray(values) || values.length === 0) {\n  return [];\n}\nreturn [{\n  json: {\n    vectors: [\n      {\n        id: $('Normalize Property Document').item.json.property_id,\n        values,\n        metadata: {\n          property_id: $('Normalize Property Document').item.json.property_id,\n          barrio: $('Normalize Property Document').item.json.barrio,\n          precio: $('Normalize Property Document').item.json.precio,\n          content: $('Normalize Property Document').item.json.content\n        }\n      }\n    ],\n    namespace: $env.PINECONE_NAMESPACE || 'tandil-props'\n  }\n}];"
      },
      "id": "build_upsert",
      "name": "Build Pinecone Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        260
      ]
    },
    {
      "parameters": {
        "url": "=https://{{$env.PINECONE_INDEX_HOST}}/vectors/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "pinecone_upsert",
      "name": "Upsert Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1410,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Pinecone API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "Normalize Property Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Property Document": {
      "main": [
        [
          {
            "node": "Get HF Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HF Embeddings": {
      "main": [
        [
          {
            "node": "Build Pinecone Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pinecone Upsert": {
      "main": [
        [
          {
            "node": "Upsert Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
